Solucion/SOAPServiceTest/Service References/SRResidente/Residentes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Residentes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20122/Residentes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20122/Residentes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20122/Residentes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResidentes_CrearResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidente" />
  </wsdl:message>
  <wsdl:message name="IResidentes_CrearResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ObtenerResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResidente" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ObtenerResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ModificarResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResidente" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ModificarResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidentes_EliminarResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResidente" />
  </wsdl:message>
  <wsdl:message name="IResidentes_EliminarResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ListarTodosLosResidentes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLosResidentes" />
  </wsdl:message>
  <wsdl:message name="IResidentes_ListarTodosLosResidentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLosResidentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IResidentes">
    <wsdl:operation name="CrearResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidentes/CrearResidente" message="tns:IResidentes_CrearResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidentes/CrearResidenteResponse" message="tns:IResidentes_CrearResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidentes/ObtenerResidente" message="tns:IResidentes_ObtenerResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidentes/ObtenerResidenteResponse" message="tns:IResidentes_ObtenerResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidentes/ModificarResidente" message="tns:IResidentes_ModificarResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidentes/ModificarResidenteResponse" message="tns:IResidentes_ModificarResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidentes/EliminarResidente" message="tns:IResidentes_EliminarResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidentes/EliminarResidenteResponse" message="tns:IResidentes_EliminarResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLosResidentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidentes/ListarTodosLosResidentes" message="tns:IResidentes_ListarTodosLosResidentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidentes/ListarTodosLosResidentesResponse" message="tns:IResidentes_ListarTodosLosResidentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResidentes" type="tns:IResidentes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearResidente">
      <soap:operation soapAction="http://tempuri.org/IResidentes/CrearResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerResidente">
      <soap:operation soapAction="http://tempuri.org/IResidentes/ObtenerResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarResidente">
      <soap:operation soapAction="http://tempuri.org/IResidentes/ModificarResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarResidente">
      <soap:operation soapAction="http://tempuri.org/IResidentes/EliminarResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLosResidentes">
      <soap:operation soapAction="http://tempuri.org/IResidentes/ListarTodosLosResidentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Residentes">
    <wsdl:port name="BasicHttpBinding_IResidentes" binding="tns:BasicHttpBinding_IResidentes">
      <soap:address location="http://localhost:20122/Residentes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>