trunk/Solucion/Condominios/Service References/SRTransaccionPago/TransaccionesPagos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20122/TransaccionesPagos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
  <xs:element name="CrearTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dTransaccionPago" nillable="true" type="q1:DTransaccionPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="CrearTransaccionResult" nillable="true" type="q2:DTransaccionPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idtransaccionpago" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ObtenerTransaccionResult" nillable="true" type="q3:DTransaccionPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dTransaccionPago" nillable="true" type="q4:DTransaccionPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ModificarTransaccionResult" nillable="true" type="q5:DTransaccionPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idtransaccionpago" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTransaccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>