trunk/Solucion/Condominios/Service References/SRTransaccionPago/TransaccionesPagos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTransaccionPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuota" nillable="true" type="tns:DCuota" />
      <xs:element minOccurs="0" name="FechaOperacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTransaccionPago" type="xs:int" />
      <xs:element minOccurs="0" name="TipoPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTransaccionPago" nillable="true" type="tns:DTransaccionPago" />
  <xs:complexType name="DCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCuota" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vivienda" nillable="true" type="tns:DVivienda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCuota" nillable="true" type="tns:DCuota" />
  <xs:complexType name="DVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Metraje" type="xs:int" />
      <xs:element minOccurs="0" name="NumVivienda" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Residente" nillable="true" type="tns:DResidente" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DVivienda" nillable="true" type="tns:DVivienda" />
  <xs:complexType name="DResidente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DResidente" nillable="true" type="tns:DResidente" />
</xs:schema>