trunk/Solucion/SOAPServiceTest/Service References/SRVivienda/Viviendas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Viviendas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20122/Viviendas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20122/Viviendas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20122/Viviendas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IViviendas_CrearVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendas_CrearVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ObtenerVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ObtenerVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ModificarVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ModificarVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendas_EliminarVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendas_EliminarVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ListarTodosLasViviendas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLasViviendas" />
  </wsdl:message>
  <wsdl:message name="IViviendas_ListarTodosLasViviendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLasViviendasResponse" />
  </wsdl:message>
  <wsdl:portType name="IViviendas">
    <wsdl:operation name="CrearVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendas/CrearVivienda" message="tns:IViviendas_CrearVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendas/CrearViviendaResponse" message="tns:IViviendas_CrearVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendas/ObtenerVivienda" message="tns:IViviendas_ObtenerVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendas/ObtenerViviendaResponse" message="tns:IViviendas_ObtenerVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendas/ModificarVivienda" message="tns:IViviendas_ModificarVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendas/ModificarViviendaResponse" message="tns:IViviendas_ModificarVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendas/EliminarVivienda" message="tns:IViviendas_EliminarVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendas/EliminarViviendaResponse" message="tns:IViviendas_EliminarVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLasViviendas">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendas/ListarTodosLasViviendas" message="tns:IViviendas_ListarTodosLasViviendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendas/ListarTodosLasViviendasResponse" message="tns:IViviendas_ListarTodosLasViviendas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IViviendas" type="tns:IViviendas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendas/CrearVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendas/ObtenerVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendas/ModificarVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendas/EliminarVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLasViviendas">
      <soap:operation soapAction="http://tempuri.org/IViviendas/ListarTodosLasViviendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Viviendas">
    <wsdl:port name="BasicHttpBinding_IViviendas" binding="tns:BasicHttpBinding_IViviendas">
      <soap:address location="http://localhost:20122/Viviendas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>