trunk/Solucion/Condominios/Service References/SRResidente/Residentes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20122/Residentes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
  <xs:element name="CrearResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dresidente" nillable="true" type="q1:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="CrearResidenteResult" nillable="true" type="q2:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ObtenerResidenteResult" nillable="true" type="q3:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dresidente" nillable="true" type="q4:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ModificarResidenteResult" nillable="true" type="q5:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dresidente" nillable="true" type="q6:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="EliminarResidenteResult" nillable="true" type="q7:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosResidentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosResidentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ListarTodosLosResidentesResult" nillable="true" type="q8:ArrayOfDResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>