Solucion/SOAPServiceTest/Service References/SRCuota/Cuota.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cuota" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20122/Cuota.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20122/Cuota.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20122/Cuota.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICuota_CrearCuota_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuota" />
  </wsdl:message>
  <wsdl:message name="ICuota_CrearCuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuota_ObtenerCuota_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuota" />
  </wsdl:message>
  <wsdl:message name="ICuota_ObtenerCuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuota_ModificarCuota_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCuota" />
  </wsdl:message>
  <wsdl:message name="ICuota_ModificarCuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuota_EliminarCuota_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuota" />
  </wsdl:message>
  <wsdl:message name="ICuota_EliminarCuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuota_ListarCuotas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuotas" />
  </wsdl:message>
  <wsdl:message name="ICuota_ListarCuotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuotasResponse" />
  </wsdl:message>
  <wsdl:portType name="ICuota">
    <wsdl:operation name="CrearCuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuota/CrearCuota" message="tns:ICuota_CrearCuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuota/CrearCuotaResponse" message="tns:ICuota_CrearCuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuota/ObtenerCuota" message="tns:ICuota_ObtenerCuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuota/ObtenerCuotaResponse" message="tns:ICuota_ObtenerCuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuota/ModificarCuota" message="tns:ICuota_ModificarCuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuota/ModificarCuotaResponse" message="tns:ICuota_ModificarCuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuota/EliminarCuota" message="tns:ICuota_EliminarCuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuota/EliminarCuotaResponse" message="tns:ICuota_EliminarCuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCuotas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuota/ListarCuotas" message="tns:ICuota_ListarCuotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuota/ListarCuotasResponse" message="tns:ICuota_ListarCuotas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICuota" type="tns:ICuota">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCuota">
      <soap:operation soapAction="http://tempuri.org/ICuota/CrearCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuota">
      <soap:operation soapAction="http://tempuri.org/ICuota/ObtenerCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCuota">
      <soap:operation soapAction="http://tempuri.org/ICuota/ModificarCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCuota">
      <soap:operation soapAction="http://tempuri.org/ICuota/EliminarCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuotas">
      <soap:operation soapAction="http://tempuri.org/ICuota/ListarCuotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cuota">
    <wsdl:port name="BasicHttpBinding_ICuota" binding="tns:BasicHttpBinding_ICuota">
      <soap:address location="http://localhost:20122/Cuota.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>