Solucion/TestServicios/Service References/SRCuota/Cuota1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20122/Cuota.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
  <xs:element name="CrearCuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dcuota" nillable="true" type="q1:DCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="CrearCuotaResult" nillable="true" type="q2:DCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcuota" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ObtenerCuotaResult" nillable="true" type="q3:DCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dcuota" nillable="true" type="q4:DCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ModificarCuotaResult" nillable="true" type="q5:DCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcuota" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuotaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuotas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ListarCuotasResult" nillable="true" type="q6:ArrayOfDCuota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>