trunk/Solucion/Condominios/Service References/SRVivienda/Viviendas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20122/Viviendas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
  <xs:element name="CrearVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dvivienda" nillable="true" type="q1:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="CrearViviendaResult" nillable="true" type="q2:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ObtenerViviendaResult" nillable="true" type="q3:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dvivienda" nillable="true" type="q4:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ModificarViviendaResult" nillable="true" type="q5:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dvivienda" nillable="true" type="q6:DVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarViviendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLasViviendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLasViviendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="ListarTodosLasViviendasResult" nillable="true" type="q7:ArrayOfDVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>