Solucion/Condominios/Service References/SRResidente/Residentes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20122/Residentes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" />
  <xs:element name="CrearResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="dresidente" nillable="true" type="q1:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPService.Dominio" minOccurs="0" name="CrearResidenteResult" nillable="true" type="q2:DResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>